<header>
    <div id="header">
        <h1>JOKES ABOUT US (Programmers)</h1> <br>
        <h3>A website to remind you with your favorite jokes</h3>
    </div>
    
    <nav>
        <ul id="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/favorite">Favorite</a></li>
            <li><a href="/random">Random</a></li>
        </ul>
    </nav>
</header>